{:paths ["src"]
 :deps {linzihao/jetty-main {:git/url "https://github.com/schneiderlin/synapse.git"
                             :git/sha "82580b5f6f0b5fd0d0b2ed5fdadd6f4d567b938d"
                             :deps/root "components/jetty-main"}}}